.photo-column{
    background-color: sienna;
    height: 900px;
}
 #photo-gallery{
     background-color: bisque;
     height: 900px;
 }

 .photo-sm{
     width:100%;
     height: 300px;
     background-color: rgb(221, 200, 190);
     overflow: hidden;
 }

 .photo-big{
    width:100%;
    height: 400px;
    background-color: rgb(158, 118, 99);
    overflow: hidden;
}

@media (min-width: 575.98px){
    .video{
        margin-top: 20px;
        width: 100%;
        height: 400px;
    }
}
@media (min-width: 767.98px){
    .video{
        margin-top: 20px;
        width: 100%;
        height: 600px;
    }
}
@media (min-width: 991.98px){
    .video{
        margin-top: 20px;
        width: 100%;
        height: 800px;
    }
}